language: php

env:
  global:
    - DB=MYSQL CORE_RELEASE=master

matrix:
  include:
    - php: 5.6
    - php: 7.0
    - php: 7.1

before_script:
    - git clone git://github.com/silverstripe/silverstripe-travis-support.git ~/travis-support
    - php ~/travis-support/travis_setup.php --source `pwd` --target ~/builds/ss
    - cd ~/builds/ss

script:
    - vendor/bin/phpunit --coverage-clover=coverage.xml graphql/tests

after_success:
  - mv coverage.xml ~/build/$TRAVIS_REPO_SLUG
  - cd ~/build/$TRAVIS_REPO_SLUG
  - bash <(curl -s https://codecov.io/bash)
