version: ~> 1.0

import:
  - silverstripe/silverstripe-travis-shared:config/provision/standard-jobs-fixed-behat.yml

env:
  global:
    - REQUIRE_EXTRA="silverstripe/frameworktest:^0.4.3"
    - BEHAT_SUITE="asset-admin --config vendor/silverstripe/asset-admin/behat.yml"

before_script:
  # separately create artifacts directory for asset-admin behat test
  - if [[ $BEHAT_TEST ]]; then mkdir ./vendor/silverstripe/asset-admin/artifacts; fi

after_failure:
  # upload artifacts from asset-admin behat test
  - if [[ $BEHAT_TEST ]]; then php ./vendor/silverstripe/framework/tests/behat/travis-upload-artifacts.php --if-env BEHAT_TEST,ARTIFACTS_BUCKET,ARTIFACTS_KEY,ARTIFACTS_SECRET --target-path $TRAVIS_REPO_SLUG/$TRAVIS_BUILD_ID/$TRAVIS_JOB_ID --artifacts-base-url https://s3.amazonaws.com/$ARTIFACTS_BUCKET/ --artifacts-path ./vendor/silverstripe/asset-admin/artifacts/; fi
