---
Name: graphqlconfig
---
SilverStripe\GraphQL\Scaffolding\Scaffolders\DataObjectScaffolder:
  default_fields:
    ID: ID

## Map DB fields to GraphQL types
SilverStripe\ORM\FieldType\DBField:
  # fallback
  graphql_type: 'String'

SilverStripe\ORM\FieldType\DBInt:
  graphql_type: 'Int'

SilverStripe\ORM\FieldType\DBBoolean:
  graphql_type: 'Boolean'

SilverStripe\ORM\FieldType\DBFloat:
  graphql_type: 'Float'

SilverStripe\ORM\FieldType\DBPrimaryKey:
  graphql_type: 'ID'

SilverStripe\ORM\FieldType\DBForeignKey:
  graphql_type: 'ID'

## CORS default config
SilverStripe\GraphQL\Controller:
  cors:
    Enabled: false # Off by default
    Allow-Origin: # Deny all by default
    Allow-Headers: 'Authorization, Content-Type'
    Allow-Methods:  'GET, POST, OPTIONS'
    Max-Age:  86400  # 86,400 seconds = 1 day.

SilverStripe\Core\Injector\Injector:
  GraphQLController:
    class: SilverStripe\Control\Middleware\RequestHandlerMiddlewareAdapter
    properties:
      RequestHandler: %$SilverStripe\GraphQL\Controller
      Middlewares:
        - %$SilverStripe\GraphQL\Middleware\RegisterManagerMiddleware
        - %$SilverStripe\GraphQL\Middleware\SessionAuthenticationMiddleware
        # Enable in mysite configuration to allow basic authentication
        # - %$SilverStripe\GraphQL\Middleware\BasicAuthenticationMiddleware
        - %$SilverStripe\GraphQL\Middleware\VersionedMiddleware
